# Sensitive keys & environment variables
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Data & cache folders
*.sqlite
*.db
yfinance_cache/

# System & editor metadata
.DS_Store
Thumbs.db
.vscode/